@mixin items($columns: 10) {
  @for $i from 1 through $columns {
    &.hg-#{$i} {
      height: ($i * (4rem)) + (2rem + 3rem);
    }
  }
}

@mixin bg-img($url) {
  background-image: url("~/assets/img/#{$url}");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
